.vscode/
gem5/build
__pycache__/
gem5/m5out/
/gem5/out/
gem5/stats/simple.csv
/test
/test.cpp
/dump.txt
/gem5/lib
/gem5/bin
gem5/parsetab.py
**/*.o
benchmarks/**/*.o
benchmarks/**/a.out
benchmarks/**/bin/*
parsing_data/mcpat/mcpat

parsing_data/mcpat_out/*
parsing_data/mcpat_in/*
/benchmarks/cbench/automotive_susan_c/src/_finfo_dataset
/benchmarks/cbench/automotive_susan_c/src/ftmp_out
/benchmarks/cbench/automotive_susan_c/src/output_large.corners.pgm
/benchmarks/cbench/automotive_susan_c/src/tmp_bat
/benchmarks/cbench/bzip2d/src/_finfo_dataset
/benchmarks/cbench/bzip2d/src/ftmp_out
/benchmarks/cbench/bzip2d/src/tmp_bat
/benchmarks/cbench/bzip2_data/*
/benchmarks/cbench/automotive_qsort1/src/ftmp_out
/benchmarks/cbench/automotive_qsort1/src/sorted_output.dat
/benchmarks/cbench/automotive_qsort1/src/tmp_bat
/benchmarks/cgo2017/program/nas-cg/bin/x86-offsets/*
/benchmarks/cgo2017/**/bin/x86/*

/benchmarks/cbench/consumer_lame/src/_finfo_dataset
/benchmarks/cbench/consumer_lame/src/ftmp_out
/benchmarks/cbench/consumer_lame/src/tmp_bat
benchmarks/cbench/consumer_lame/src/output_large.mp3

benchmarks/cbench/network_dijkstra/src/_finfo_dataset
benchmarks/cbench/network_dijkstra/src/output_large.dat
benchmarks/cbench/network_dijkstra/src/tmp_bat


sorted_output.dat
stats/simple1.csv

!/benchmarks/cgo2017/nas-is/bin/x86/is-no1
!/benchmarks/cgo2017/nas-cg/bin/x86/cg-no2
!/benchmarks/cbench/automotive_qsort1/src/a.out