.vscode/
gem5/build
__pycache__/
gem5/m5out/
/gem5/out/
gem5/stats/simple.csv
/test
/test.cpp
/dump.txt
/gem5/lib
/gem5/bin
gem5/parsetab.py
*.o
benchmarks/**/a.out
parsing_data/mcpat/mcpat
parsing_data/mcpat_out/*
/benchmarks/cbench/automotive_susan_c/src/_finfo_dataset
/benchmarks/cbench/automotive_susan_c/src/ftmp_out
/benchmarks/cbench/automotive_susan_c/src/output_large.corners.pgm
/benchmarks/cbench/automotive_susan_c/src/tmp_bat
/benchmarks/cbench/bzip2d/src/_finfo_dataset
/benchmarks/cbench/bzip2d/src/ftmp_out
/benchmarks/cbench/bzip2d/src/tmp_bat
/gem5/ftmp_out

/benchmarks/cbench/consumer_lame/src/_finfo_dataset
/benchmarks/cbench/consumer_lame/src/ftmp_out
/benchmarks/cbench/consumer_lame/src/tmp_bat
